.button {
    border: none;
    font-size: 2rem;
    color: black;
    background: none;
    transition: all 0.15s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.disabled {
    border: none;
    font-size: 2rem;
    color: gray;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

@media screen and (pointer: fine) {
    .button:hover {
        color: orangered;
        transform: scale(1.1);
    }

    .button:active {
        transform: scale(0.98);
        transition-duration: 0.05s;
    }
}

@media screen and (pointer: coarse) {
    .button:active {
        transform: scale(0.98);
        transition-duration: 0.05s;
    }
}
