.message {
    position: absolute;
    padding: 8px;
    box-shadow: 0px 5px;
    border-radius: 10px;
    font-size: 1.2rem;
    transition: all 0.4s ease;
    animation: appear-left 0.3s;
    direction: ltr;
}

@media screen and (min-width: 45rem) and (max-width: 60rem) {
    .message {
        animation: appear-right 0.3s;
    }
}

@keyframes appear-left {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes appear-right {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0px);
    }
}

.success {
    background: rgb(45, 218, 14);
}

.info {
    background: rgb(24, 198, 214);
}

.error {
    background: rgb(255, 0, 0);
}
